# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://rtwraiaqctfwgtdrygrr.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0d3JhaWFxY3Rmd2d0ZHJ5Z3JyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3MDU1MDUsImV4cCI6MjEwMDI4MTUwNX0.bUpmoJzpTUNb9-A66sbqjgkxCmwB33__aFAWLIo9_RE

# Meta WhatsApp Cloud API Configuration
# Obtain these from Meta for Developers -> App Dashboard -> WhatsApp -> API Setup
META_WA_PHONE_NUMBER_ID=1348757668319836
META_WA_BUSINESS_ACCOUNT_ID=1070746532468785
META_WA_ACCESS_TOKEN=EAANuqb1gGPMBSoZB3HsjZC55SQVBLPlALwRTWN1nCyI4PVemi3lnBHPl4ANYtdGQdJeoXYKe8bslXRC23FfWTtQ1FImtXZCy009tKuiffUwiRs3uEqEryybHgtMZBpCWpU9FebYgaZAuPkinGsiO4JHju8Hg9Qe3kkkg4SwdFGZCHf5gLkHZA16eOWmnsC64PHmFwhQmSf1P7ncqGo426p9tv7C7DiLqc8eoKxNv3wkdmunVoOpxIV9Ek1MAZBDZBMl0ZAb3MzvXDOv2WT6X8Xfm5u
META_WA_VERIFY_TOKEN=digital_plus_whatsapp_webhook_verify_token_2026
